<!-- About Section -->
<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>

          In the heart of Kitchener-Waterloo, Ontario, Kate Welsh redefines modern ceramic art with a blend of
          minimalist aesthetics and profound functionality. Her creations, ranging from sleek mugs to contemplative
          vases, embody the essence of contemporary design while celebrating the tactile joy of the handmade. Each piece
          is a dialogue between raw materials and modern living, reflecting Kate's dedication to sustainability and her
          nuanced exploration of form and texture. Her work is an invitation to experience the ordinary as
          extraordinary, capturing the intimate relationship between art, user, and environment.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>For inquiries, please reach out using the contact form below.</p>
      </div>
    </div>
  </div>
</section>
