<!-- About Section -->
<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>Kate Welsh is a ceramic artist driven by the joy of molding clay into functional art. Her work is a
          celebration of simplicity and utility. Each piece created is a unique expression of her individuality
          through the artistry of clay. Please reach out using the contact form for any inquiries.</p>
      </div>
    </div>
  </div>
</section>
